.calender {
  width: 20em;
  height: auto;
  position: absolute;
  top: 100%;
  right: 50%;
  -webkit-transform: translateX(50%);
     -moz-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  padding: 1em;
  background-color: white;
  z-index: 5;
  -webkit-box-shadow: 0 0 0.2em 0.02em rgba(30, 30, 30, 0.3);
          box-shadow: 0 0 0.2em 0.02em rgba(30, 30, 30, 0.3);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.calender .month-year {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.calender .month-year i {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  position: relative;
  background-color: #26a69a;
  cursor: pointer;
  margin: 0em .3em;
}

.calender .month-year i::before {
  color: white;
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
     -moz-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  font-size: 1.2em;
}

.calender .month-year .month, .calender .month-year .year {
  color: #323232;
  font-size: 1.2em;
  margin: 0em .3em;
}

.calender .days {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin-top: 1.5em;
}

.calender .days > div {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.calender .days > div .week-day {
  font-size: 1em;
  color: #646464;
  font-weight: 700;
  margin-bottom: .5em;
}

.calender .days > div .month-day {
  width: 2em;
  height: 2em;
  border-radius: .5em;
  font-size: 1em;
  margin: .3em 0;
  text-align: center;
  line-height: 2.2em;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.calender .days > div .month-day:hover {
  color: white;
  background-color: #26a69a;
}

.calender .days > div .month-day.past {
  background-color: #d4d3d3;
  color: #323232;
  cursor: auto;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.calender .days > div .month-day.past:hover {
  color: #323232;
  background-color: #d4d3d3;
}

.calender .days > div .month-day.curr {
  border-radius: 50%;
  background-color: tomato;
  color: white;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.calender .days > div .month-day.curr:hover {
  color: white;
  background-color: #26a69a;
}

.calender .days > div .month-day.empty {
  background-color: transparent;
  color: transparent;
  cursor: auto;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.calender .days > div .month-day.empty:hover {
  color: transparent;
  background-color: transparent;
}

.calender.show {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 380px) {
  .calender {
    font-size: 15px;
  }
}

@media screen and (max-width: 350px) {
  .calender {
    width: 100vw;
    max-height: 100vh;
  }
}

@media screen and (max-width: 220px) {
  .calender {
    font-size: 10px;
  }
}
/*# sourceMappingURL=calender.css.map */