#filters-hotels {
  width: 100%;
  height: auto;
  padding: 1em;
  margin-top: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

#filters-hotels #filters {
  width: 25%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2em;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  border: 1px solid #e6e6e6;
}

#filters-hotels #filters #mobile-fixer {
  width: 100%;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

#filters-hotels #filters #mobile-fixer #price {
  direction: ltr;
}

#filters-hotels #filters #mobile-fixer > * {
  width: 100%;
  height: auto;
  padding: 1em .5em 2em .5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  border-bottom: 1px solid #e6e6e6;
}

#filters-hotels #filters #mobile-fixer > * h4 {
  width: 100%;
  height: auto;
  overflow-wrap: nowrap;
  color: #323232;
  font-weight: 600;
  font-size: .8em;
  margin: .5em 0 1em 0;
}

#filters-hotels #filters #mobile-fixer > * > div:not(#ranger) {
  width: 100%;
  min-height: 2em;
  margin: .2em 0;
  position: relative;
}

#filters-hotels #filters #mobile-fixer > * > div:not(#ranger) input[type="checkbox"] {
  width: 0;
  height: 0;
  position: absolute;
  display: none;
}

#filters-hotels #filters #mobile-fixer > * > div:not(#ranger) input[type="checkbox"]:checked ~ label .rect {
  width: .8em;
  height: 1.8em;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 4px solid #26a69a;
  border-bottom: 4px solid #26a69a;
  border-radius: .1em;
  -webkit-transform: translate(0.1em, -0.4em) rotate(35deg);
     -moz-transform: translate(0.1em, -0.4em) rotate(35deg);
      -ms-transform: translate(0.1em, -0.4em) rotate(35deg);
          transform: translate(0.1em, -0.4em) rotate(35deg);
}

#filters-hotels #filters #mobile-fixer > * > div:not(#ranger) label {
  width: auto;
  height: auto;
  font-size: .8em;
  color: #646464;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

#filters-hotels #filters #mobile-fixer > * > div:not(#ranger) label .rect {
  width: 1.8em;
  height: 1.8em;
  border-radius: .3em;
  border: 1.8px solid #323232;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

#filters-hotels #filters #mobile-fixer > * > div:not(#ranger) label p {
  color: #646464;
  font-size: .9em;
  margin-right: .5em;
}

#filters-hotels #filters #mobile-fixer > * > div:not(#ranger) label .fa-star {
  margin: 0 .1em;
  color: gold;
  font-size: .8em;
}

#filters-hotels #filters #mobile-fixer > * > div:not(#ranger) label .fa-star:nth-child(2) {
  margin-right: .6em;
}

#filters-hotels #filters #mobile-fixer > * > div:not(#ranger) .badge {
  position: absolute;
  left: .3em;
  top: 0%;
  color: #26a69a;
  font-size: .8em;
}

#filters-hotels #filters #mobile-fixer > * #ranger {
  width: 90%;
  height: 1em;
  margin-top: 3em;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

#filters-hotels #filters #mobile-fixer > * #ranger .noUi-handle.circle {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #26a69a;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

#filters-hotels #filters #mobile-fixer > * #ranger .noUi-handle.circle::before {
  display: none;
}

#filters-hotels #filters #mobile-fixer > * #ranger .noUi-handle.circle::after {
  display: none;
}

#filters-hotels #filters #mobile-fixer > * #ranger .noUi-handle.circle:focus {
  outline: none;
}

#filters-hotels #filters #mobile-fixer > * #ranger .noUi-handle.circle:focus .noUi-tooltip {
  outline: none;
}

#filters-hotels #filters #mobile-fixer > * #ranger .noUi-handle.right {
  right: 0;
  -webkit-transform: translate(50%, -25%);
     -moz-transform: translate(50%, -25%);
      -ms-transform: translate(50%, -25%);
          transform: translate(50%, -25%);
  top: 0%;
}

#filters-hotels #filters #mobile-fixer > * #ranger .noUi-handle.left {
  left: 0;
  top: 0%;
  -webkit-transform: translate(0%, -25%);
     -moz-transform: translate(0%, -25%);
      -ms-transform: translate(0%, -25%);
          transform: translate(0%, -25%);
}

#filters-hotels #filters #mobile-fixer > * #ranger .noUi-tooltip.newStyle {
  font-size: .8em;
}

#filters-hotels #filters #mobile-fixer > * #ranger .noUi-tooltip.right {
  -webkit-transform: translate(-90%, 0);
     -moz-transform: translate(-90%, 0);
      -ms-transform: translate(-90%, 0);
          transform: translate(-90%, 0);
}

#filters-hotels #filters #mobile-fixer > * #ranger .noUi-tooltip.left {
  -webkit-transform: translate(0%, 0);
     -moz-transform: translate(0%, 0);
      -ms-transform: translate(0%, 0);
          transform: translate(0%, 0);
}

#filters-hotels #filters.show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

#hotels {
  width: 75%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  padding: 1em 1em 8em 1em;
  position: relative;
  border: 1px solid #e6e6e6;
}

#hotels .hotel {
  width: 14em;
  height: 14em;
  margin: 1em;
  position: relative;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center center;
     -moz-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: perspective(1000px) rotateY(0deg);
     -moz-transform: perspective(1000px) rotateY(0deg);
          transform: perspective(1000px) rotateY(0deg);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#hotels .hotel:hover {
  -webkit-transform: perspective(1000px) rotateY(-180deg);
     -moz-transform: perspective(1000px) rotateY(-180deg);
          transform: perspective(1000px) rotateY(-180deg);
}

#hotels .front, #hotels .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 1em;
}

#hotels .back {
  -webkit-transform: rotateY(180deg) translateZ(0.01px);
     -moz-transform: rotateY(180deg) translateZ(0.01px);
          transform: rotateY(180deg) translateZ(0.01px);
}

#hotels .front {
  background: url("../assets/imgs/hotel-img.jpg") center center no-repeat;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-transform: rotateY(0deg) translateZ(0.01px);
     -moz-transform: rotateY(0deg) translateZ(0.01px);
          transform: rotateY(0deg) translateZ(0.01px);
  overflow: hidden;
}

#hotels .front::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(40, 40, 40, 0.6);
  border-radius: 1em;
}

#hotels .front > * {
  width: 100%;
  height: auto;
  font-size: .7em;
  text-align: center;
  padding-right: .6em;
  overflow-wrap: break-word;
}

#hotels .front > *:not(.stars) {
  color: #e6e6e6;
}

#hotels .front > *:not(.discount) {
  position: relative;
}

#hotels .hotel .name {
  margin-top: 2em;
}

#hotels .stars {
  color: #ffd600;
}

#hotels .discount {
  width: auto;
  height: auto;
  padding: .2em;
  background-color: #cf405d;
  position: absolute;
  right: 0;
  top: 0%;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border-top-right-radius: 1em;
  margin: 0;
}

#hotels .discount span {
  margin-right: 1em;
}

#hotels .front .fas:not(.fa-star) {
  position: relative;
  right: -.5em;
}

#hotels .back {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

#hotels .section {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: .5em;
}

#hotels .right {
  background-color: #1e1e1e;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

#hotels .right .features {
  width: 100%;
  height: 65%;
  margin-top: .5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  font-size: .8em;
}

#hotels .right .features > * {
  margin: .5em;
  cursor: pointer;
}

#hotels .left {
  background-color: #323232;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

#hotels h5 {
  color: #e6e6e6;
  font-size: .8em;
  font-weight: lighter;
}

#hotels .back .fas {
  color: #c8c8c8;
  font-size: .8em;
}

#hotels .price {
  font-size: .8em;
  color: #c8c8c8;
  margin-top: .5em;
}

#hotels a {
  display: inline-block;
  width: 7em;
  height: 3em;
  text-align: center;
  line-height: 3em;
  position: absolute;
  font-size: .8em;
  z-index: 2;
  right: 50%;
  -webkit-transform: translateX(50%);
     -moz-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  bottom: 0;
  color: white;
  background-color: #26a69a;
}

#hotels button {
  width: 9em;
  height: 3em;
  text-align: center;
  line-height: 3em;
  color: white;
  background-color: #26a69a;
  border: none;
  border-radius: 2em;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 2em;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
     -moz-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  bottom: 2em;
}

@media screen and (max-width: 1100px) {
  #filters-hotels {
    font-size: 15px;
  }
}

@media screen and (max-width: 850px) {
  #filters-hotels #filters {
    display: none;
    width: 75vw;
    height: 60vh;
    overflow: auto;
    margin-left: 0em;
    background-color: white;
    -webkit-box-shadow: 0 0 0.2em 0.05em rgba(30, 30, 30, 0.5);
            box-shadow: 0 0 0.2em 0.05em rgba(30, 30, 30, 0.5);
    border: none;
    position: fixed;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
       -moz-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    z-index: 5;
  }
  #hotels {
    width: 100%;
  }
  #hotels .hotel {
    width: 15em;
    height: 15em;
  }
}

@media screen and (max-width: 550px) {
  #hotels .hotel {
    width: 18em;
    height: 15em;
  }
}

@media screen and (max-width: 350px) {
  #filters-hotels {
    font-size: 12px;
  }
  #filters-hotels #filters {
    width: 90vw;
  }
}

@media screen and (max-width: 280px) {
  #hotels .hotel {
    width: 75vw;
    height: 75vw;
  }
}

@media screen and (max-width: 220px) {
  #hotels {
    font-size: 10px;
  }
  #hotels button {
    width: 100%;
  }
}
/*# sourceMappingURL=filters-hotelsContainer.css.map */