#footer {
  width: 100%;
  height: 25em;
  position: relative;
  right: 0;
  margin-top: 2em;
  background-image: url("../assets/imgs/logo.png"), url("../assets/imgs/footer.svg");
  background-position: 50% 0% , center center;
  background-repeat: no-repeat, no-repeat;
  background-size: 10em 10em, 100% 100%;
  z-index: 2;
}

#footer svg {
  position: relative;
}

#footer path {
  fill: url("#grad");
}

#footer #content {
  width: 100%;
  height: auto;
  position: relative;
  top: 8em;
  right: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

#footer ul {
  width: auto;
  height: auto;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin: 0 2em;
}

#footer ul > * {
  margin-top: 1.5em;
}

#footer h5 {
  color: white;
  font-size: 1.4em;
  -webkit-transform: translateX(20px);
     -moz-transform: translateX(20px);
      -ms-transform: translateX(20px);
          transform: translateX(20px);
}

#footer #support h5 {
  -webkit-transform: translateX(0px);
     -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

#footer h5:not(:first-of-type) {
  -webkit-transform: translateX(20px);
     -moz-transform: translateX(20px);
      -ms-transform: translateX(20px);
          transform: translateX(20px);
}

#footer a, #footer li {
  text-decoration: none;
  color: #e6e6e6;
  font-size: 1em;
  font-weight: 500;
}

#footer .fas, #footer .fab {
  -webkit-transform: translateX(20px);
     -moz-transform: translateX(20px);
      -ms-transform: translateX(20px);
          transform: translateX(20px);
}

@media screen and (max-width: 900px) {
  #footer {
    font-size: 16px;
  }
}

@media screen and (max-width: 676px) {
  #footer {
    font-size: 12px;
  }
}

@media screen and (max-width: 510px) {
  #footer {
    height: 44em;
    background-position: 50% 20% , center center;
    background-size: 8em 8em, 100% 100%;
  }
  #footer #content {
    top: 13em;
  }
}

@media screen and (max-width: 350px) {
  #footer {
    height: 35em;
    background-image: url("../assets/imgs/logo.png"), url("../assets/imgs/footer1.svg");
    background-position: 50% 0% , center center;
  }
  #footer #content {
    top: 6em;
  }
}

@media screen and (max-width: 270px) {
  #footer {
    height: 36em;
  }
}

@media screen and (max-width: 250px) {
  #footer {
    height: 52em;
  }
  #footer ul {
    width: 95%;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer h5 {
    -webkit-transform: translateX(0px);
       -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
  }
  #footer .fas, #footer .fab {
    -webkit-transform: translateX(0px);
       -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media screen and (max-width: 180px) {
  #footer {
    height: 58em;
  }
}
/*# sourceMappingURL=footer.css.map */