#rooms {
  width: 90%;
  height: auto;
  margin-top: 4em;
  position: relative;
  right: 50%;
  -webkit-transform: translateX(50%);
     -moz-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

#rooms .room {
  width: 100%;
  height: auto;
  border: 2px solid #c8c8c8;
  margin: 2em 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

#rooms .room .info {
  width: 33.3%;
  height: 10em;
}

#rooms .room .price {
  width: 33.3%;
  height: 10em;
}

#rooms .room .reserve {
  width: 33.3%;
  height: 10em;
}

#rooms .room .features {
  width: 100%;
  height: auto;
}

#rooms .room .calender-show {
  width: 100%;
  height: auto;
}

#rooms .room .room-calender {
  width: 100%;
  height: auto;
}

#rooms .room .info, #rooms .room .price, #rooms .room .reserve {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  color: #282828;
  font-size: .8em;
  border-bottom: 1px solid #c8c8c8;
}

#rooms .room > * {
  padding: 1em;
}

#rooms .room .info > *, #rooms .room .price > * {
  margin: .5em 0;
  width: auto;
  height: auto;
  overflow-wrap: break-word;
  text-align: center;
}

.room .guests {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  text-align: center;
}

.room .info, .room .price {
  border-left: 1px solid #c8c8c8;
}

.room .price .discount {
  padding: .5em 1em;
  color: white;
  background-color: #cf405d;
  border-radius: 1.5em;
  text-align: center;
  font-family: byekan;
}

.room .price .before-discount p {
  display: inline-block;
}

.room .price .before-discount p {
  font-size: .8em;
}

.room .price .discount ~ .before-discount p {
  font-size: .8em;
}

.room .price .discount ~ .before-discount p:nth-child(1) {
  position: relative;
}

.room .price .discount ~ .before-discount p:nth-child(1)::before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: teal;
}

.room .reserve .room-num {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.room .reserve .room-num > * {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.room .reserve .room-num button {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  background-color: #26a69a;
}

.room .reserve .room-num button:focus {
  outline: none;
}

.room .reserve .room-num button span {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
     -moz-transform: translate(-50%, -45%);
      -ms-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  font-size: 1.5em;
  width: auto;
  height: auto;
}

.room .reserve input[type="number"] {
  width: 2em;
  height: 2em;
  text-align: center;
  border: none;
  position: relative;
  top: -webkit-calc(50% - 1em);
  top: -moz-calc(50% - 1em);
  top: calc(50% - 1em);
  font-size: 1em;
  color: #282828;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.room .reserve > button {
  width: auto;
  height: auto;
  font-family: byekan;
  font-size: 1.3em;
  border-radius: 1.5em;
  padding: .5em 3em;
  color: white;
  border: none;
  background-color: #26a69a;
  cursor: pointer;
}

.room .reserve > button:focus {
  outline: none;
}

.room .features {
  color: #282828;
  border-bottom: 1px solid #c8c8c8;
}

.room .features p {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 600;
}

.room .features .features-wrapper {
  width: auto;
  height: auto;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  margin-right: 2em;
}

.room .features .features-wrapper i {
  font-size: .8em;
  color: #282828;
}

.room .features-wrapper > * {
  margin: 1em;
  cursor: pointer;
}

.room .calender-show {
  text-align: center;
}

.room .calender-show button {
  font-size: .8em;
  border-radius: 1.8em;
  font-family: byekan;
  padding: 1em 2em;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #2f7ddd;
}

.room .calender-show button:focus {
  outline: none;
}

.room .calender-show button i {
  -webkit-transform: translateY(20%);
     -moz-transform: translateY(20%);
      -ms-transform: translateY(20%);
          transform: translateY(20%);
}

.room .room-calender {
  width: 100%;
  height: auto;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

.show-calender-grid {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.room .room-calender .date {
  width: 8em;
  height: 8em;
  margin: .5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  color: white;
}

.room .room-calender .date p {
  width: auto;
  height: auto;
  text-align: center;
}

.room .room-calender .date {
  background-color: #55bd8a;
}

.room .room-calender .date.full {
  background-color: #eb5754;
}

.room .room-calender .date.discount .my-price {
  position: relative;
}

.room .room-calender .date.discount .my-price::before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: white;
}

@media screen and (max-width: 900px) {
  #rooms {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  #rooms .room .info {
    width: 100%;
    height: auto;
  }
  #rooms .room .price {
    width: 50%;
    height: 10em;
  }
  #rooms .room .reserve {
    width: 50%;
    height: 10em;
  }
}

@media screen and (max-width: 500px) {
  .room .room-calender {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

@media screen and (max-width: 400px) {
  #rooms .room .info {
    width: 100%;
    height: auto;
  }
  #rooms .room .price {
    width: 100%;
    height: auto;
  }
  #rooms .room .reserve {
    width: 100%;
    height: auto;
  }
  .room .reserve > button {
    margin-top: 1em;
  }
}

@media screen and (max-width: 285px) {
  #rooms {
    font-size: 12px;
  }
}

@media screen and (max-width: 220px) {
  .room .reserve .room-num button {
    width: 2em;
    height: 2em;
  }
}
/*# sourceMappingURL=reserve.css.map */