#mobile{
    width: 100% ;
    height: auto;
    display: none ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: start ;
    flex-wrap: nowrap ;
    position: fixed ;
    bottom: 0 ;
    right: 0 ;
    background-color: rgb(240,240,240) ;
    box-shadow: 0 0 .5em .08em rgba(30,30,30,.4) ;
    div {
        flex-shrink: 0 ;
        width: 50% ;
        height: 3em;
        color: #26a69a ;
        font-size: 1.5em ;
        text-align: center ;
        line-height: 3em ;
        cursor: pointer;
    }
    #mobile-filter{
        border-left: .1em solid #26a69a ;
    }
}
#mobile.show{display: flex ;}
// @media screen and (max-width:850px){
//     #mobile{display: flex ;}
// }
@media screen and (max-width:600px){
    #mobile{font-size: 15px;}
}
@media screen and (max-width:400px){
    #mobile{
        div{
            font-size: 1em ;
            height: 4em;
            line-height: 4em ;
        }
    }
}
@media screen and (max-width:250px){
    #mobile{
        font-size: 12px ;
    }
}