#grid-menu{
    width: 100% ;
    height: 100%;
    position: fixed ;
    top: 0 ;
    right: 0;
    z-index: 6;
    display: none ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: start ;
    flex-wrap: wrap ;
    align-content: flex-start ;
    direction: ltr ;
    background-color: transparent !important ;
    overflow: hidden;
}
#grid-menu.show{display: flex ;}
.flex-section{
    width: 50% ;
    height: 50%;
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: start ;
    flex-wrap: wrap ;
    align-content: flex-start ;
    direction: ltr ;
	.color{
		width: 0% ;
		height: 100%;
		position: absolute ;
		top: 0 ;
		left: 0 ;
    }
    .img{
        width: 0% ;
        height: 100%;
        position: absolute ;
        left: 0;
        top: 0 ;
        background-position: center center ;
        background-repeat: no-repeat ;
        background-size: 100% 100% ;
        &::before{
            content: '' ;
            width: 100% ;
            height: 100%;
            position: absolute ;
            top: 0;
            left: 0;
            background-color: rgba(30,30,30,.8) ;
        }
    }
    p{
        width: 100% ;
        text-align: center ;
        font-size: 2em ;
        color: white ;
        z-index: 1;
        position: absolute ;
        top: 50% ;
        right: 50%;
        transform: translate(50%,-50%);
        opacity: 0;
    }
}
.flex-section > * {
    position: relative;
}
#close{
    width: 50% ;
    height: 40%;
    .color{background-color: #353841 ;}
    .fa-times{
        opacity: 0;
        font-size: 5em ;
        color: white ;
        position: absolute ;
        top: 50% ;
        right: 50%;
        transform: translate(50%,-50%) ;
        cursor: pointer ;
    }
}
#motel{
	width: 50% ;
	height: 40%;
    .color{background-color: #636363 ;}
    .img{background-image: url('../../assets/imgs/motel.jpg');}
}
#inn{
	width: 100% ;
	height: 61%;
    .color{background-color: #AC865C ;}
    .img{background-image: url('../../assets/imgs/inn.jpg');}
}
#hotel{
	width: 100% ;
	height: 100%;
    .color{background-color: rgb(250, 190, 60) ;}
    .img{background-image: url('../../assets/imgs/hotel.jpg');}
    p{font-size: 3em;}
}
#suite{
	width: 100% ;
	height: 50%;
    .color{background-color: #C3CEE4 ;}
    .img{background-image: url('../../assets/imgs/suite.jpg');}
}
#home{
	width: 50% ;
	height: 50%;
    .color{background-color: #5097BB ;}
    .img{background-image: url('../../assets/imgs/home.jpg');}
}
#apartment{
	width: 50% ;
	height: 50%;
    .color{background-color: #F6A744 ;}
    .img{background-image: url('../../assets/imgs/apartment.jpg');}
}
#residence{
	width: 50% ;
	height: 100%;
    .color{background-color: #B09270 ;}
    .img{background-image: url('../../assets/imgs/residence.jpg');}
}
#villa{
	width: 50% ;
	height: 100%;
    .color{background-color: #86A9D1 ;}
    .img{background-image: url('../../assets/imgs/villa.jpg');}
}
@media screen and (max-width:1000px){
    #grid-menu{font-size: 15px ;}
}
@media screen and (max-width: 700px){
    #grid-menu{
        position: absolute ;
        height: auto;
        flex-direction: column ;
        justify-content: flex-start ;
        align-items: start ;
        flex-wrap: nowrap ;
    }
    .flex-section{
        width: 100% ;
        height: auto;
        flex-direction: column ;
        justify-content: flex-start ;
        align-items: start ;
        flex-wrap: nowrap ;
    }
    #close,#motel,#inn,#hotel,#suite,#home,#apartment,
    #residence,#villa
    {
        width: 100% ;
        height: 12em;      
    }
}