#search{
    width: 90% ;
    height: auto;
    padding: 1em ;
    margin: 4em auto 0 auto ;
    display: flex ;
    flex-direction: row ;
    justify-content: space-around ;
    align-items: center ;
    flex-wrap: wrap ;
    align-content: flex-start ;
    border: 1px solid rgb(200,200,200) ;
    .input-wrapper{
        width: 12em ;
        height: 3em ;
        position: relative ;
        margin: 1em 1.5em ;  
        input[type="text"],input[type="number"]{
            width: 100% ;
            height: auto;
            font-size: 1em ;
            color: rgb(50,50,50) ;
            position: absolute ;
            right: 0;
            bottom: 0 ;
            border: none ;
            border-bottom: 1px solid rgb(170,170,170);
            &:focus{
                outline: none ;
                ~label{
                    transform: translateY(-3em) ;
                    font-size: .6em ;
                }
                ~.line{width: 100% ;}
                // ~.calender{visibility: visible ; opacity: 1;}
            }

        }
        input[type='number']::-webkit-outer-spin-button,
        input[type='number']::-webkit-inner-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            -ms-appearance: none;
            appearance: none;
        }
        input[type=number] {
            -moz-appearance:textfield;
        }
        label{
            font-size: .8em ;
            transform: translateY(0) ;
            color: #26a69a ;
            position: absolute ;
            right: 0 ;
            bottom: .3em ;
            transition: all .3s ease-in-out ;         
        }
        label.up{
            font-size: .6em;
            transform: translateY(-3em) ;
        }
        > i{
            color: #26a69a ;
            font-size: 1em ;
            position: absolute ;
            bottom: .6em ;
            right: -1.2em ; 
        }
        .line{
            display: inline-block ;
            width: 0% ;
            height: 2px ;
            background-color: #26a69a ;
            position: absolute ;
            right: 0 ;
            bottom: 0 ;
            transition: all .3s ease-in-out ;
        }
        input[type="text"].auto-complete{
            ~ul{
                width: 100%;
                height: auto;
                position: absolute ;
                right: 0;
                top: 98% ;
                display: none ;
                flex-direction: column ;
                justify-content: flex-start ;
                align-items: start ;
                flex-wrap: nowrap ;
                list-style: none;
                box-shadow: 0 0 .2em .02em rgba(30,30,30,.3) ;
                z-index: 10 ;
                li{
                    width: 100% ;
                    height: 2.5em;
                    line-height: 2.5em ;
                    padding-right: .5em ;
                    color: rgb(50,50,50) ;
                    background-color: white ;
                    overflow-wrap: nowrap ;
                    font-size: 1em ;
                    cursor: pointer;
                    transition: all .3s ease-in-out ;
                    &:hover{
                        background-color: rgb(245,245,245) ;
                        color: #26a69a ;
                    }
                }
            }
            ~ul.show{display: flex;}
        }
        
    }
    input[type="submit"]{
        width: 8em ;
        height: 3em;
        font-size: 1em ;
        margin: 1em 1.5em ;  
        color: white ;
        background-color: #26a69a ;
        text-align: center ;
        line-height: 3em ;
        border:none ;
        cursor: pointer;
        border-radius: 1.5em ;
    }
}
@media screen and (max-width:1060px){
    #search{font-size: 16px ;}
}
@media screen and (max-width:850px){
    #search{
        input[type="submit"]{
            width: 10em ;
        }
    }
}
@media screen and (max-width:600px){
    #search{
        width: 75% ;
        .input-wrapper{
            width: 60% ;
        }
    }
}
@media screen and (max-width:400px){
    #search{
        width: 90% ;
        .input-wrapper{
            width: 80% ;
        }
    }
}
@media screen and (max-width:300px){
    #search{
        font-size: 12px ;
    }
}
