#services{
    width: 100% ;
    height: auto;
    position: relative ;
    overflow: hidden;
    margin-top: 4em ;
    padding: 1em 0 ;
    background-color: rgb(245,245,245) ;
}
#services h4{
    display: inline-block ;
    width: auto ;
    font-size: 24px ;
    font-weight: 700 ;
    color: rgb(40,40,40) ;
    margin: 0 1em 0 0 ;
    border-bottom: .8px solid #80808070 ;
    padding-bottom: 1em ;
}
#services form{
    width: 100% ;
    height: 15vw ;
    text-align: center ;
    overflow: hidden;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: flex-start;
    flex-wrap: wrap ;
    align-content: flex-start ;
    padding: 1vw;
    transition: all .6s ease-in-out ;
    
}
#services label{
    width: 11.8vw ;
    height: 11.8vw;
    // seven cols in each row
    margin: 1vw ;
    display: flex ;
    flex-direction: column ;
    justify-content: space-around ;
    align-items: center ;
    flex-wrap: nowrap ;
    transition: all .4s ease-in-out ;
    background-color: white ;
    border-radius: 1.5em ;
    box-shadow: 0 0 .5em 0.01em rgba(50,50,50,.3) ;
    cursor: pointer;
    overflow: hidden;
}
#services label > *{
    // flex-shrink: 0 ;
}
#services label input[type="checkbox"]{
    width: 0 ;
    height: 0;
    display: none ;
}
#services label i , #services label p{
    color: #fb636f  ;
    transition: all .4s ease-in-out ;
    width: 100% ;
    text-align: center ;
    overflow-wrap: nowrap ; 
}
#services label i {font-size: 1.5em ;}
#services label p{
    font-size: 1em ; 
    overflow: hidden;
    text-overflow: ellipsis ;
    white-space: nowrap ;
}
// #services label:hover{background-color: #fb636f ; }
// #services label:hover i , #services label:hover p{color: white ;}
#services label.red-bg{background-color: #fb636f;}
#services label i.white-text{color: white;} 
#services label p.white-text{color: white;}
#services > p {
    width: auto ;
    height: auto;
    margin-top: 2em;
    margin-right: 2em ;
    cursor: pointer ;
    color: #26a69a ;
}
#services form.show-all{height: auto;}
#services > p i {
    transform: translate(-50%,15%) ;
}
#services input[type="submit"]{
    color: white ;
    background-color: #26a69a ;
    position: relative;
    right: 50% ;
    transform: translateX(50%) ;
    margin-top: 1em ;
    font-family: byekan ;
    font-size: 1em ;
    border:none ;
    cursor: pointer;
    padding: 1em 2em ;
    border-radius: 2em ;
}
@media screen and (max-width:1450px){ //six cols in each row
    #services form{height: 17vw;}
    #services label{
        width: 14vw ;
        height: 14vw;
    }
}
@media screen and (max-width:1200px){ //five cols in each row
    #services form{height: 20vw;}
    #services label{
        width: 17vw ;
        height: 17vw;
    }
}
@media screen and (max-width:900px){ //four cols in each row
    #services form{height: 25vw;}
    #services label{
        width: 22vw ;
        height: 22vw;
        // margin: 2vw ;
        // font-size: 16px ;
    }
}
@media screen and (max-width:750px){ //four cols in each row
    #services form{height: 24vw;}
    #services label{
        width: 21vw ;
        height: 21vw;
        font-size: 16px ;
    }
}
@media screen and (max-width:600px){ //three cols in each row
    #services form{height: 32vw;}
    #services label{
        width: 29vw ;
        height: 29vw;
    }
}
@media screen and (max-width:450px){ //two col in each row
    #services form{
        height: 45vw;
        justify-content: space-around ;
    }
    #services label{
        width: 40vw ;
        height: 40vw;
        margin: 3vw ;
    }
}
@media screen and (max-width:320px){ //two col in each row
    #services form{height: 77vw;}
    #services label{
        width: 70vw ;
        height: 70vw;
        margin: 3vw auto ;
    }
}
@media screen and (max-width:250px){ //two col in each row
    #services label{
        font-size: 13px ;
    }
}
@media screen and (max-width:1000px){
    // #services h4{font-size: 1.2em ;}
}
@media screen and (max-width:900px){
    #services h4{font-size: 20px ;}
}
@media screen and (max-width:600px){
    #services input[type="submit"]{
        font-size: 18px ;
    }
}
@media screen and (max-width:500px){
    #services h4{font-size: 16px ;}
   
}
@media screen and (max-width:350px){
  
}
@media screen and (max-width:300px){
    #services h4{font-size: 14px ;}
}
@media screen and (max-width:270px){
    // #services h4{font-size: .7em ;}
}