.slider-wrapper{
    width: 100% ;
    height: auto;
    position: relative ;
    margin-top: 2em ;
    padding: 1em 0 4em 0 ;
    overflow: hidden;
}
.slider-wrapper button.show_all{
    width: auto ;
    font-size: 1em ;
    position: absolute ;
    right: 2% ;
    transform: translateX(0%) ;
    bottom: .5em ;
    z-index: 4;
    color: #26a69a ;
    background-color: transparent ;
    border: none ;
    cursor: pointer;
    
}
.slider-wrapper button.show_all i{transform: translateY(10%) ;}
.slider-wrapper h4{
    display: inline-block ;
    width: auto ;
    font-size: 24px ;
    color: rgb(40,40,40) ;
    font-weight: 700 ;
    margin: 0 1em 0 0 ;
    border-bottom: .8px solid #80808070 ;
    padding-bottom: .6em ;
}
.slider-wrapper > a {
    text-decoration: none ;
    width: auto ;
    font-size: 1em ;
    position: absolute ;
    right: 2% ;
    transform: translateX(0%) ;
    bottom: .5em ;
    z-index: 4;
    color: #26a69a ;
}
.slider-wrapper > a .fas{transform: translateY(10%) ;}
.slider-wrapper .fade{
    width: 20% ;
    height: 100%;
    position: absolute ;
    z-index: 1;
    margin-top: 2em ;
}
.slider-wrapper .fade.left{
    left: 0;
    background-image: linear-gradient(to right , white , transparent) ;
}
.slider-wrapper .fade.right{
    right: 0;
    background-image: linear-gradient(to left , white , transparent) ;
}
.slider-wrapper .btn{
    width: 4em  ;
    height: 4em;
    border-radius: 50% ;
    background-color: teal ;
    position: absolute ;
    z-index: 3;
    top: 35% ;
    cursor: pointer;
}
.slider-wrapper .btn i {
    position: absolute ;
    top: 50% ;
    right: 50% ;
    transform: translate(50%,-50%) ;
    color: white ;
    font-size: 1.3em ;
    cursor: pointer;
}
.slider-wrapper .btn.btn-left{
    left: 0 ;
    margin: 4em 0 0 1em ; 
}
.slider-wrapper .btn.btn-right{
    right: 0 ;
    margin: 4em 1em 0 0; 
}
.slider-wrapper .arrows {
    visibility: hidden;
    width: auto ;
    height: auto;
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: center ;
    flex-wrap: nowrap ;
    position: absolute ;
    bottom: .5em;
    left: .5em ;
    .fas{
        font-size: 2em ;
        color: #26a69a ;
        margin: 0 .2em ;
        opacity: 1;
    }
}
.slider-wrapper .arrows.show{visibility: visible ;}
.slider-wrapper .slider{
    width: auto ;
    height: auto;
    margin: 2em 0 0 0 ;
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: center ;
    flex-wrap: nowrap ;
    position: relative ;
    right: 0 ;
    transition: all .6s ease-in-out ;
}
.slider-wrapper .slide{
    width: 15em ;
    height: 15em ;
    flex-shrink: 0 ;
    border-radius: 1em ;
    margin: 0 1em ;
    box-shadow: 0 0 .2em .05em rgba(100,100,100,.3) ;
    display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    align-items: center ;
    flex-wrap: nowrap ;
    overflow: hidden;
    position: relative;
}
.slider-wrapper .slide img {
    width: 100% ;
    height: 50%;
    background-position: center center ;
    background-repeat: no-repeat ;
    background-size: 100% 100% ;
}
.slider-wrapper .slide > *:not(img)  {
    width: 100% ;
    height: auto ;
    text-align: center ;
    font-size: .7em ;
    color: rgb(40,40,40) ;
}
.slider-wrapper .slide p i {
    color: rgb(40,40,40) ;
}
.slider-wrapper .slide .stars{
    color: gold ;
}
.slider-wrapper .slider .discount{
    position: absolute ;
    width: auto ;
    height: auto ;
    padding: .3em ;
    font-size: .8em ;
    background-color: rgb(207, 64, 93) ;
    right: 0 ;
    top: 25% ;
    transform: translateY(-50%) ;
    color: white ;
    border-top-left-radius: 1.5em ;
    border-bottom-left-radius: 1.5em ;
}
#top{background-color: rgb(245,245,245);}
@media screen and (max-width:1000px){
    
    .slider-wrapper{font-size: 15px ;}
}
@media screen and (max-width:900px){
    .slider-wrapper h4{font-size: 20px ;}
}
@media screen and (max-width:800px){
    .slider-wrapper .btn{
        font-size: 11px ;
    }
    .slider-wrapper .btn{
        display: none ;
    }
    .slider-wrapper .fade{
        display: none ;
    }
    .slider-wrapper .slider{
        overflow-x: auto;
        overflow-y: visible ;
        padding-bottom: 1em ;
    }  
    .slider-wrapper .arrows{visibility: visible ;}
}
@media screen and (max-width:500px){
    .slider-wrapper h4{font-size: 16px; ;}
    .slider-wrapper .btn{
        font-size: 9px ;
    }
    
}
@media screen and (max-width:380px){
    // .slider-wrapper{font-size: 9px ;}
    .slider-wrapper .slider .slide {
        width: 80vw ;
        margin: 0 10vw ;
    }
}
@media screen and (max-width:300px){
    .slider-wrapper h4{font-size: 14px ;}
    .slider-wrapper .btn{
        font-size: 8px ;
    }
}
@media screen and (max-width:280px){
    .slider-wrapper{font-size: 12px ;}
    // .slider-wrapper h4{font-size: 1.2em ;}
}
@media screen and (max-width:200px){
    .slider-wrapper{font-size: 9px ;}
    .slider-wrapper .btn{
        font-size: 6px ;
    }
    // .slider-wrapper h4{font-size: 1.4em ;}
}