.calender{
    width: 20em ;
    height: auto;
    background-color: white ;
    box-shadow: 0 0 .5em .05em rgba(30,30,30,.5) ;
    display: none ;
    flex-direction: column ;
    justify-content: flex-start ;
    align-items: center ;
    flex-wrap: nowrap ;
    position: relative ;
    z-index: 10;
}
.show-calender{display: flex ;}
.calender > div{
    width: 100% ;
    height: auto;
    margin: 0 0 1em 0 ;
    flex-shrink: 0 ;
}
.calender .month-year{
    display: flex ;
    flex-direction: row ;
    justify-content: space-around ;
    align-items: center ;
    flex-wrap: nowrap ;
    padding: .5em ;
}
.calender .month-year > *{
    flex-shrink: 0 ;
}
.calender .month-year .fas{
    color: white ;
    font-size: 2em ;
    cursor: pointer;
    width: 1.2em ;
    height: 1.2em;
    border-radius: 50% ;
    text-align: center ;
    line-height: 1.2em ;
    background-color: teal
}
.calender .days{
    display: flex ;
    flex-direction: row ;
    justify-content: space-around ;
    align-items: center ;
    flex-wrap: nowrap ;
}
.calender .days > div{
    display: flex ;
    flex-direction: column ;
    justify-content: flex-start ;
    align-items: center ;
    flex-wrap: nowrap ;
    flex-shrink: 0 ;
}
.calender .days span {
    width: 2em ;
    height: 2em;
    flex-shrink: 0 ;
    margin: .5em ;
    cursor: pointer;
    transition: all .2s linear ;
    font-size: .8em ;
    line-height: 2em ;
    text-align: center ;
    color: rgb(50,50,50) ;
    border-radius: 7px ;
}
.calender .days span:not(:first-child):not(.past):hover{
    color: white ;
    background-color: teal ;
}
.calender .days div span:nth-child(1){
    cursor: auto;
    transition: none ;
    color: grey ;
    font-size: 1em ;
}
.calender .days span.curr {
    border-radius: 50% ;
    color: white ;
    background-color: orangered ;
}
.calender .days span.past {
    background-color: rgb(226, 226, 226) ;
    color: rgb(136, 136, 136)  ;
    cursor: auto ;
    transition: none ;
}