.calender{
    width: 20em ;
    height: auto;
    position: absolute ;
    top: 100% ;
    right: 50% ;
    transform: translateX(50%) ;
    display: flex ;
    flex-direction: column ;
    justify-content: flex-start ;
    align-items: center ;
    flex-wrap: nowrap; 
    padding: 1em ;
    background-color: white ;
    z-index: 5;
    box-shadow: 0 0 .2em .02em rgba(30,30,30,.3) ;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-in-out ;
    .month-year{
        width: auto;
        height: auto;
        display: flex ;
        flex-direction: row ;
        justify-content: flex-start ;
        align-items: center ;
        flex-wrap: nowrap ;
        i{
            width: 2.5em ;
            height: 2.5em ;
            border-radius: 50% ;
            position: relative;
            background-color: #26a69a ;
            cursor: pointer;
            margin: 0em .3em ;
            &::before{
                color: white ;
                position: absolute ;
                right: 50%;
                top: 50% ;
                transform: translate(50%,-50%) ;
                font-size: 1.2em ;
            }
        }
        .month,.year{
            color: rgb(50,50,50);
            font-size: 1.2em ;
            margin: 0em .3em ;
        }
    }
    .days{
        width: 100% ;
        height: auto;
        display: flex ;
        flex-direction: row ;
        justify-content: space-around ;
        align-items: flex-start ;
        flex-wrap: nowrap ;
        margin-top: 1.5em ;
        >div{
            width: auto ;
            height: auto;
            display: flex ;
            flex-direction: column ;
            justify-content: flex-start ;
            align-items: center ;
            flex-wrap: nowrap ;
            .week-day{
                font-size: 1em ;
                color: rgb(100,100,100) ;
                font-weight: 700 ;
                margin-bottom: .5em; 
            }
            .month-day{
                width: 2em ;
                height: 2em;
                border-radius: .5em ;
                font-size: 1em ;
                margin: .3em 0 ;
                text-align: center ;
                line-height: 2.2em ;
                cursor: pointer;
                transition: all .2s ease-in-out ;
                &:hover{
                    color: white ;
                    background-color: #26a69a ;
                }
            }
            .month-day.past{              
                background-color: rgb(212, 211, 211) ;
                color: rgb(50,50,50) ;
                cursor: auto ;
                transition: none ;
                &:hover{
                    color: rgb(50,50,50) ;
                    background-color: rgb(212, 211, 211) ;
                }
            }
            .month-day.curr{
                border-radius: 50% ;
                background-color: tomato ;
                color: white ;   
                transition: all .2s ease-in-out ;
                &:hover{
                    color: white ;
                    background-color: #26a69a ;
                }      
            }
            .month-day.empty{
                background-color: transparent ;
                color: transparent ;
                cursor: auto ;
                transition: none ;
                &:hover{
                    color: transparent ;
                    background-color: transparent ;
                }
            }
        }
    }
}
.calender.show{
    visibility: visible ;
    opacity: 1;
}
@media screen and (max-width:380px) {
    .calender{font-size: 15px ;}
}
@media screen and (max-width:350px) {
    .calender{
        width: 100vw ;
        max-height: 100vh ;
        // position: fixed ;
        // top: 0 ;
        // right: 0 ;
        // transform: translateX(0%) ;
    }
}
@media screen and (max-width:220px) {
    .calender{
        font-size: 10px ;
    }
}