#copyright{
    width: 100% ;
    padding: .5em ;
    color: rgb(60,60,60) ;
    font-size: 1em ;
    text-align: center ;
    background-color: rgb(245, 245, 245) ;
}
#copyright i{
    transform: translateY(20%) ;
}
#copyright a{
    text-decoration: none ;
}