#curr-filters{
    width: 75em ;
    height: auto;
}
#curr-filters h5{
    font-size: 1.5em ;
    color: rgb(40,40,40) ;
}
@media screen and (max-width: 1200px){
    #curr-filters{font-size: 14px ;}
}