#features{
    width: 100% ;
    height: auto;
    position: relative ;
    overflow: hidden;  
    padding: 1em ;
    margin-top: 4em ;
    display: flex ;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center ;
    flex-wrap: wrap ;
    align-content: center ;
    background-color: rgb(245,245,245) ;
}
#features .feature{
    width: 11em ;
    height: 11em;
    display: flex ;
    flex-direction: column ;
    justify-content: space-around ;
    align-items: center ;
    flex-wrap: nowrap ;
    margin: 1em ;
}
.feature .fas{
    font-size: 5em ;
    color: rgb(91, 142, 209) ;
}
.feature h5 {
    color: rgb(70, 67, 67) ;
    font-size: 1em ;
}
@media screen and (max-width:1000px){
    #features{font-size: 16px;}
}
@media screen and (max-width:550px){
    #features{font-size: 12px;}
}