#filters{
    border: 1px solid rgba(200,200,200,.8) ;
    width: fit-content ;
    height: auto;
    padding: 3em 3em 3em 0 ;
    display: flex ;
    flex-direction: column ;
    justify-content: space-evenly ;
    align-items: flex-start ;
    flex-wrap: nowrap ;
    margin: 4em 2em 0 0 ;
}
#filters > *:not(:first-child) {
    margin-top: 2em;
}
#filters > * {
    width: fit-content ;
    height: auto;
}
span.divider{
    display: inline-block ;
    width: 16em ;
    right: -2em ;
    position: relative ;
    margin-top: 1em;
}
#filters label{
    position: relative;
    right: 2em ;
}
[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after{
    right: -2em ;
}
#filters h5{
    color: rgb(40,40,40) ;
    font-size: 1.5em ;
    
}
#filters #price h5{margin-bottom: 3em ;}
#range{  
    width: 90% ;
    height: 10px;
    position: relative ;
    right: -.5em ;
}
#range *{outline: none ;}
.ranger-handle{
    width: 1.5em !important;
    height: 1.5em !important;
    border-radius: 50% !important;
    background-color: teal ;
    border: none !important ;
    box-shadow: none !important ;
}
