#filters{
    // width: fit-content ;
    // height: auto;
    // padding: 0  ;
    display: flex ;
    flex-direction: column ;
    justify-content: flex-start ;
    align-items: flex-start ;
    flex-wrap: nowrap ;
    // margin: 4em 2em 0 0 ;
}
#filters > *:not(:first-child) {
    margin-top: 1em;
}
#filters > *:not(.divider) {
    width: 100% ;
    height: auto;
    padding: 0 2em 0 0 ;
}
span.divider{
    display: inline-block ;
    width: 100% ;
    height: 1px;
    // right:  ;
    // position: relative ;
}
// #filters label{
//     position: relative;
//     // right: 2em ;
// }
[type="checkbox"]+span:not(.lever){
    // for grab both checkbox and label
    right: 1.8em ;
}
#filters .type , #filters .star , #filters .feature {
    margin: 1em 0 ;
}
[type="checkbox"]+span:not(.lever):before , [type="checkbox"]:not(.filled-in)+span:not(.lever):after{
    // for grab just checkbox
    right: -1.8em ;
    
}
[type="checkbox"]:not(.filled-in)+span:not(.lever):before{
    width: 2em ;
    height: 2em;
    border-radius: .5em ;
    transform: translate(1em,-.5em) ;
}
[type="checkbox"]:checked+span:not(.lever):before{
    top: -1.1em;
    left: -.5em ;
    width: 1em;
    height: 2.1em ;
    border-radius: 0 ;
    transform: rotate(40deg);
}
#filters h5{
    color: rgb(40,40,40) ;
    font-size: 1.5em ;  
    // right: -1em ;
    position: relative ;
}
#filters #price h5{margin-bottom: 3em ;}
#range{  
    width: 100% ;
    height: 10px;
    position: relative ;
    right: -.5em ;
}
#range *{outline: none ;}
.ranger-handle{
    width: 1.5em !important;
    height: 1.5em !important;
    border-radius: 50% !important;
    background-color: teal ;
    border: none !important ;
    box-shadow: none !important ;
}
@media screen and (max-width: 1500px){
    #filters{font-size: 16px ;}
    #filters label span{font-size: 14px;}
}
