@import './variables.scss' ;
#footer{
    width: 100% ;
    height: 25em;
    position: relative ;
    right: 0 ;
    margin-top: 2em ; 
    background-image: url('../assets/imgs/logo.png') , url('../assets/imgs/footer.svg') ;
    background-position: 50% 0% , center center ;
    background-repeat: no-repeat, no-repeat ;
    background-size: 10em 10em, 100% 100% ;
    z-index: 2;
}
#footer svg{position: relative ;}
#footer path{fill: url('#grad') ;}
#footer #content{
    width: 100% ;
    height: auto;
    position: relative ;
    top: 8em ;
    right: 0%;
    display: flex ;
    flex-direction: row ;
    justify-content: space-around ;
    align-items: flex-start ;  
    flex-wrap: wrap ;
    align-content: flex-start ;
}
#footer ul{
    width: auto ;
    height: auto ;
    list-style: none ;  
    display: flex ;
    flex-direction: column ;
    justify-content: space-around ;
    align-items: flex-start ;
    flex-wrap: nowrap ;
    margin: 0 2em ;
}
#footer ul > * {
    margin-top: 1.5em ;
}
#footer h5{
    color: white ;
    font-size: 1.4em ;
    transform: translateX(20px) ;
}
#footer #support h5 { transform: translateX(0px) ;}
#footer h5:not(:first-of-type){
    transform: translateX(20px) ;
}
#footer a , #footer li {
    text-decoration: none ;
    color: rgb(230,230,230) ;
    font-size: 1em ;
    font-weight: 500 ;
}
#footer .fas , #footer .fab{transform: translateX(20px) ;}
@media screen and (max-width:1000px){
    #footer{
        background-size: 7em 7em, 100% 100% ;
        background-position: 50% 15% , center center ;
    }
}
@media screen and (max-width:850px){
    #footer{font-size: 16px;}
}
@media screen and (max-width:675px){
    #footer{
        height: 32em ;
        background-image: url('../assets/imgs/logo.png') , url('../assets/imgs/footer1.svg') ; ;
        background-position: 50% 0% , center center ;

    }
    #footer #content{top: 5em ;}
}
@media screen and (max-width:330px){
    #footer{
        font-size: 12px;
        height: 34em;
    }
}
@media screen and (max-width:255px){
    #footer{
        height: 37em ;
    }
    #footer #content{top: 6em ;}
}