#hotels-grid{
    width: 100% ;
    height: auto;
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: start ;
    flex-wrap: wrap ;
    align-content: flex-start ;
    margin-top: 3em ;
    padding: 1em ;
}
#hotels-grid > *{
    margin: 1em auto ;
}
#hotels-grid #sort{
    // width: 15em ;
    // height: auto  ;
}
#hotels-grid #curr-filters{
    // width: 55em ;
    // height: auto  ;
}
#filters{
    // width: 15em ;
    // height: auto  ;
    border: 1px solid rgba(200,200,200,.8) ;
}
#hotels{
    // width: 55em ;
    // height: auto  ;
    border: 1px solid rgba(200,200,200,.8) ;  
}
// @media screen and (max-width:1300px){
//     #hotels-grid #sort{
//         width: 15em ;
//     }
//     #hotels-grid #curr-filters{
//         width: 45em ;
//     }
//     #hotels-grid #filters{
//         width: 15em ;
//     }
//     #hotels-grid #hotels{
//         width: 45em ;
//     }
// }
.row {
    margin: 2em auto;
    // margin: 2em auto ;
}
.row .col{
    margin: 1em 0;
}