#hotels-grid{
    width: 100% ;
    height: auto;
    display: grid ;
    grid-template-columns: repeat(12,1fr) ;
    grid-auto-rows: minmax(0,auto);
    margin-top: 6em ;     
}
#hotels-grid #sort{
    height: auto  ;
    grid-column: 1/4;
    grid-row: 1/2;
    margin: 1em .5em 0 0; 
}
#hotels-grid #filters{
    height: auto  ;
    grid-column: 1/4;
    grid-row: 2/3;
    border: 1px solid rgba(200,200,200,.8) ;
    margin: 2.5em .5em 0 0;  
}
#hotels-grid #curr-filters{
    height: auto  ;
    grid-column: 5/13;
    grid-row: 1/2;
    margin-left: .5em;  
    margin: 0 0 0 .5em;  
}
#hotels-grid #hotels{
    height: auto  ;
    grid-column: 5/13;
    grid-row: 2/3;
    border: 1px solid rgba(200,200,200,.8) ;  
    margin: 2em 0 0 .5em;  
    // margin: 5em 5em 0 2em ;
}