header{
    width: 100% ;
    height: 100%;
    position: relative ;
    background: url('../assets/imgs/bg.jpg') center center no-repeat ;
    background-size: 100% 100% ;
    background-attachment: fixed ;
    overflow: hidden;
}
header::before{
    content: '' ;
    width: 100% ;
    height: 100%;
    position: absolute ;
    top: 0 ;
    right: 0 ;
    background-color: rgba(30,30,30,.5) ;
    z-index: 2;
}
header .cloud{
    width: 100%;
    height: 50%;
    position: absolute ;
    top: 0 ; 
    left: 0;
    background-size: 75% 100% ;
    background-position: 0 0 ;
    background-repeat: repeat ;
    z-index: 1;
    animation: cloud 45s linear 0s infinite alternate ;
}
header .cloud:nth-child(1){background-image: url('../assets/imgs/cloud1.png');}
header .cloud:nth-child(2){background-image: url('../assets/imgs/cloud2.png');}
@keyframes cloud{
    from{}
    to{background-position: 400% 100% ;}
}
#nav{
    width: 100% ;
    height: auto;
    padding: 0em 0 ;
    position: relative ;
    right: 0 ;
    top: 0 ;
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: center ;
    flex-wrap: nowrap ;
    z-index: 4 ;
    background-color: rgb(245,245,245) ;
    transition: all .6s ease-in-out ;
}
#nav a{
    width: auto ;
    height: 3em;
    color: rgb(50,50,50) ;
    font-size: 1.2em ;
    text-align: center ;
    margin: 0 .5em ;
    white-space: nowrap ;
    line-height: 3em;
}
#nav a .fas{
    position: relative; 
    top: .2em ;
    right: -.2em ;
}
#nav a:first-child{
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: center ;
    flex-wrap: nowrap ;
}
#nav a:first-child > * {margin: 0 .1em ;}
#nav a:first-child p{
    font-size: 1.2em ;
    font-weight: 700 ;
}
#nav img{
    width: 3em ;
    height: 3em;
}

#nav a:nth-child(2){
    width: 7em ;
    border-radius: 40px ;
}
#hamburger{
    width: auto ;
    height: auto;
    position: absolute ;
    left: 3em;
    top: 50% ;
    transform: translateY(-50%) ;
    display: flex ;
    flex-direction: column ;
    justify-content: flex-start ;
    align-items: flex-end ;
    flex-wrap: nowrap ;
    cursor: pointer;
}
#hamburger span{
    display: inline-block ;
    height: 2px;
    background-color: rgb(50,50,50) ;
    transition: width .4s ease-in-out ;
    margin-top: .5em ;
}
#hamburger span:nth-child(1){width: 3em ;}
#hamburger span:nth-child(2){width: 2em}
#hamburger span:nth-child(3){width: 3em ;}
#hamburger:hover span:nth-child(1){width:2em ;}
#hamburger:hover span:nth-child(2){width:3em ;}
#hamburger:hover span:nth-child(3){width:2em ;}
#slogan{
    width: auto ;
    height: auto;
    padding: 2em ;
    position: absolute ;
    top: 50% ;
    right: 50%;
    transform: translate(50%,-50%) ;
    z-index: 4 ;
    color: rgb(255, 245, 245) ; 
}
#slogan #brand-name{
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: center  ;
    flex-wrap: nowrap ;
}
#brand-name > * {
    margin: 0 .3em ; 
}
#brand-name img{
    width: 22em ;
    height: 6em;
    background-image: url('../assets/imgs/mt.png') center center no-repeat ;
    background-size: 100% 100% ;
}
#brand-name .line{
    width: 25vw ;
    height: .25em;
    background-color: rgb(255, 245, 245) ;
}
#slogan h4{
   font-size: 1.2em ;
   margin-top: 1em ;
   text-align: center ;
}

@media screen and (max-width:800px){
    #nav{font-size: 15px ;}
}
@media screen and (max-width:550px){
    #nav{font-size: 12px ;}
    #hamburger{
        left: 0;
    }
    #nav a{
        margin: 0 ;
    }
}
@media screen and (max-width:1000px){
    #slogan{font-size: 15px ;}
}
@media screen and (max-width:550px){
    #slogan{font-size: 10px ;}
}
@media screen and (max-width:320px){
    #slogan{font-size: 8px ;}
}