#hotels{
    // width: 100% ;
    // height: auto;
    display: grid ;
    grid-template-columns: repeat(auto-fit,minmax(17em,1fr)) ;
    grid-auto-rows: 17em ;
}
#hotels .hotel{
    margin: 2em ;
    position: relative ;
    transform-style: preserve-3d ;
    transform-origin: center center ;
    transform: perspective(1000px) rotateY(0deg) ;
    transition: all .8s ease-in-out ;
}
#hotels .hotel:hover{
    transform: perspective(1000px) rotateY(-180deg);
}
#hotels .front , #hotels .back{
    width: 100% ;
    height: 100%;
    position: absolute ;
    top: 0 ;
    right: 0 ;
    backface-visibility: hidden;
}
#hotels .back{
    transform: rotateY(180deg) translateZ(.01px);
}
#hotels .front{
    background: url('../assets//imgs/hotel-img.jpg') center center no-repeat ;
    background-size: 100% 100%;
    display: flex ;
    flex-direction: column ;
    justify-content: space-evenly ;
    align-items: center ;
    flex-wrap: nowrap;
    transform: rotateY(0deg) translateZ(.01px);
}
#hotels .front::before{
    content: '' ;
    width: 100% ;
    height: 100%;
    position: absolute ;
    background-color: rgba(40,40,40,.6) ;
}
#hotels .front > *{
    width: fit-content ;
    height: auto;
    font-size: 1em ;
}
#hotels .front > *:not(.stars){
    color: rgb(230,230,230) ;
}
#hotels .front > *:not(.discount){
    position: relative ;
    top: 1.5em ;
}
#hotels .stars{
    color: #ffd600  ;
}
#hotels .discount{
    width: fit-content ;
    height: auto;
    padding: .2em ;
    background-color: #cf405d ;
    position: absolute ;
    right: 0 ;
    top: 0% ;
    border-top-left-radius: 1.5em ;
    border-bottom-left-radius: 1.5em ;
}
#hotels .discount span{
    margin-right: 1em;
}
#hotels .front .fas:not(.fa-star){
    position: relative ;
    right: -.5em ;
}
#hotels .back{
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: flex-start ;
    flex-wrap: nowrap ;
}
#hotels .section{
    width: 50% ;
    height: 100%;
    position: relative;
}
#hotels .right{
    background-color: rgb(30,30,30);
    display: flex ;
    flex-direction: row ;
    justify-content: space-evenly ;
    align-items: center ;
    flex-wrap: wrap ; 
    align-content: space-evenly ;
}
#hotels .left{
    background-color: rgb(50,50,50);
}

#hotels h5{
    color: rgb(230,230,230) ;
    position: absolute ;
    top: 0% ;
    right: 5% ;
    font-size: .8em ;
}
#hotels .back .fas{
    color: rgb(200,200,200) ;
    font-size: .8em ;
    margin: 0 .5em ;
}
#hotels .price{
    font-size: .8em ;
    color: rgb(200,200,200) ;
    position: absolute ;
    top: 35% ;
    transform: translateY(-50%) ;
    right: 5% ;
}

#hotels a{
    width: fit-content ;
    height: auto;
    position: absolute ;
    z-index: 2;
    right: 50%;
    transform: translateX(50%) ;
    bottom: 0;
}