#hotel-info{
    width: 100vw ;
    height: auto;
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: flex-start ;
    flex-wrap: wrap ;
    align-content: flex-start ;
    overflow: hidden;
}
#hotel-info .section{
    width: 50% ;
    height: 100vh;
    padding: 0 ;
    overflow: hidden;
}
.section.right{
    display: flex ;
    flex-direction: column ;
    justify-content: space-evenly ;
    align-items: flex-start ;
    flex-wrap: wrap ;
    align-content: flex-start ;
    padding: 0 5em !important ;
    background-color: #1e1e1e ;
}
.section.right > * {
    width: fit-content ;
    height: auto;
    color: rgb(230,230,230) ; 
}
#type p , #city p {
    margin-right: .5em ;
    display: inline-block ;  
}
#name , #type p , #city p {font-size: 2em ;}
#type .fas , #city .fas{font-size: 1.5em;}
#features {
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: center ;
    flex-wrap: wrap ;
    align-content: flex-start ;
}
#features .fas{
    font-size: 2em ;
    margin: 1em 0 1em 1.5em ;
}
#slider{
    width: 100% ;
    height: 100%;
    position: relative ;
    top: 0;
    right: 0 ;
}
#slider > img {
    position: relative ;
    top: 0 ; 
    right: 0 ;
    width: 100% ;
    height: 100% ;
    background-position: center center ;
    background-size: 100% 100% ;
}
#slider-items{
    width: fit-content ; 
    height: auto;
    position: absolute ;
    bottom: 0 ;
    right: 0;
    display: flex ; 
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: center ;
    flex-wrap: nowrap ;
    transition: all .5s ease-in-out ;
}
#slider-items .slide{
    width: 12em ;
    height: 12em;
    margin: 0 0 0 2em ;
    cursor: pointer;
    background-position: center center ;
    background-size: 100% 100% ;
    background-repeat: no-repeat ;
    position: relative ;
}
#slider-items .slide:nth-child(1){background-image: url('../assets/imgs/slider/slider1.jpg');}
#slider-items .slide:nth-child(2){background-image: url('../assets/imgs/slider/slider2.jpg');}
#slider-items .slide:nth-child(3){background-image: url('../assets/imgs/slider/slider3.jpg');}
#slider-items .slide:nth-child(4){background-image: url('../assets/imgs/slider/slider4.jpg');}
#slider-items .slide:nth-child(5){background-image: url('../assets/imgs/slider/slider5.jpg');}
#slider-items .slide:nth-child(6){background-image: url('../assets/imgs/slider/slider6.jpg');}
#slider-items .slide:nth-child(7){background-image: url('../assets/imgs/slider/slider7.jpg');}
#slider-items .slide::before{
    content: '' ;
    position: absolute ;
    width: 100%;
    height: 100%;
    background-color: rgba(40,40,40,.8) ;
}
#slider-items .slide.active::before{
    background-color: transparent ;
}
#slider .fas {
    color: rgb(230,230,230) ;
    font-size: 3em ;
    position: absolute ;
    top: 90% ;
    cursor: pointer;
}
#slider .fa-arrow-right{right: 0% ;}
#slider .fa-arrow-left{left: 0% ;}


