#hotel-info{
    width: 100% ;
    height: auto;
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: flex-start ;
    flex-wrap: wrap ;
    align-content: flex-start ;
    overflow: hidden;
}
#hotel-info .section{
    height: 100vh;
    padding: 0 ;
    overflow: hidden;
}
.section.right{
    width: 30% ;
    display: flex ;
    flex-direction: column ;
    justify-content: space-around ;
    align-items: flex-start ;
    flex-wrap: nowrap ;
    align-content: flex-start ;
    padding: 4em 2em 0 2em !important ;
    background-color: #1e1e1e ;
}
.section.left{width: 70% ;}
.section.right > * {
    width: 100% ;
    color: rgb(230,230,230) ; 
    line-height: 2em ;
    overflow-wrap: nowrap ;
    line-height: 3em ;
}
#type p , #city p {
    margin-right: .5em ;
    display: inline-block ;  
}
#name , #type p , #city p , #score p {font-size: 1.5em ;}
#type .fas , #city .fas{font-size: 1em;}
#hotel-features {
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: center ;
    flex-wrap: wrap ;
    align-content: flex-start ;
}
#hotel-features .fas{
    font-size: 1em ;
    margin: 1em ;
}
#slider{
    width: 100% ;
    height: 100%;
    position: relative ;
    overflow: hidden ;
}
#slider .img{
    width: 100% ;
    height: 100%;
    position: absolute ;
    right: 0 ;
    top: 0 ;
    transform: translateX(100%) scaleX(4) ;
    opacity: 0;
}
#slider .img img{
    width: 100% ;
    height: 100%;
    position: absolute ;
    top: 0 ;
    right: 0 ;
    background-position: center center ;
    background-repeat: no-repeat ;
    background-size: 100% 100% ;
}
#slider .img .desc{
    width: 100% ;
    height: auto;
    padding: 2em ;
    position: absolute ;
    text-align: center ;
    font-size: 1em ;
    color: white ;
    background-color: rgba(40,40,40,.8) ;
    bottom: 0 ;
    right: 0 ;
}
#slider #dot-container{
    width: auto ;
    height: auto;
    position: absolute ;
    left: 5%;
    top: 50% ;
    transform: translateY(-50%) ;
    display: flex ;
    flex-direction: column ;
    justify-content: space-around ;
    align-items: center ;
    flex-wrap: nowrap ;
}
#slider .dot{
    display: inline-block ;
    width: 1.5em ;
    height: 1.5em ;
    border-radius: 50% ;
    background-color: rgb(50,50,50) ;
    margin: 1em ;
    border: none ;
    transition: all .4s ease-in-out ; 
    cursor: pointer;
}
#slider .dot.active{
    transform: scale(2) ;
}
@media screen and (max-width:1200px){
    #hotel-info{font-size: 15px; }
}
@media screen and (max-width:900px){
    #hotel-info .section.right{
        width: 100% ;
        height: 65vh;
    }
    #hotel-info .section.left{
        width: 100% ;
        height: 75vh;
    }
}
@media screen and (max-width:660px){
    #hotel-info{font-size: 12px ;}
    #hotel-info .section.right{
        height: auto;
        > div {
            margin-top: 4em ;
            &:first-child{margin-top: 0 ;}
        
        }
    }
    #hotel-info .section.left{
        height: 100vh;
    }
    #hotel-info #dot-container{font-size: 8px ;}
}
@media screen and (max-width:230px){
    #hotel-info{font-size: 9px; }
}