#hotel-info{
    width: 100vw ;
    height: auto;
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: flex-start ;
    flex-wrap: wrap ;
    align-content: flex-start ;
    overflow: hidden;
}
#hotel-info .section{
    width: 50% ;
    height: 100vh;
    padding: 0 ;
    overflow: hidden;
}
.section.right{
    display: flex ;
    flex-direction: column ;
    justify-content: space-evenly ;
    align-items: flex-start ;
    flex-wrap: wrap ;
    align-content: flex-start ;
    padding: 0 5em !important ;
    background-color: #1e1e1e ;
}
.section.right > * {
    width: fit-content ;
    height: auto;
    color: rgb(230,230,230) ; 
}
#type p , #city p {
    margin-right: .5em ;
    display: inline-block ;  
}
#name , #type p , #city p {font-size: 2em ;}
#type .fas , #city .fas{font-size: 1.5em;}
#features {
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: center ;
    flex-wrap: wrap ;
    align-content: flex-start ;
}
#features .fas{
    font-size: 2em ;
    margin: 1em 0 1em 1.5em ;
}
#slider{
    width: 100% ;
    height: 100%;
    position: relative ;
    overflow: hidden ;
}
#slider .img{
    width: 100% ;
    height: 100%;
    position: absolute ;
    right: 0 ;
    top: 0 ;
    transform: translateX(100%) scaleX(4) ;
    opacity: 0;
    // transition: all .6s ease-in-out ;
    // this will added via js 
}
#slider .img img{
    width: 100% ;
    height: 100%;
    position: absolute ;
    top: 0 ;
    right: 0 ;
    background-position: center center ;
    background-repeat: no-repeat ;
    background-size: 100% 100% ;
}
#slider .img .desc{
    width: 100% ;
    height: auto;
    padding: 2em ;
    position: absolute ;
    text-align: center ;
    font-size: 1em ;
    color: white ;
    background-color: rgba(40,40,40,.8) ;
    bottom: 0 ;
    right: 0 ;
}
#slider #dot-container{
    width: fit-content ;
    height: auto;
    position: absolute ;
    left: 5%;
    top: 50% ;
    transform: translateY(-50%) ;
    display: flex ;
    flex-direction: column ;
    justify-content: space-evenly ;
    align-items: center ;
    flex-wrap: nowrap ;
}
#slider .dot{
    display: inline-block ;
    width: 1.5em ;
    height: 1.5em ;
    border-radius: 50% ;
    background-color: rgb(50,50,50) ;
    margin: 1em ;
    border: none ;
    transition:' all .4s ease-in-out' ; 
    cursor: pointer;
}
#slider .dot.active{
    transform: scale(2.5) ;
    border: .2em solid white ;
}
@media screen and (max-width:1500px){
    #hotel-info{font-size: 15px ;}
}
