.modal{
    width: 40em ;
    height: auto;
    position: fixed ;
    top: 50% ;
    right: 50%;
    transform: translate(50%,-50%) ;
    background-color: white ;
    box-shadow: 0 0 .2em .02em rgba(30,30,30,.3) ;
    display: none ;
    flex-direction: column ;
    justify-content: flex-start ;
    align-items: start ;
    flex-wrap: nowrap ;
    z-index: 15;
    padding: 0 1em ;
    h4,p,button{margin: .5em 0 ;}
    h4{
        color: rgb(50,50,50) ;
        font-size: 2em ;
        font-weight: 600 ;
    }
    p{
        width: 98% ;
        max-height: 50vh ;
        color: rgb(50,50,50) ;
        line-height: 2em ;
        font-size: 1em ;
        overflow-y: auto ;
        overflow-wrap: nowrap ;
    }
    button{
        display: inline-block ;
        width: 6em ;
        height: 2em ;
        text-align: center ;
        line-height: 1.5em ;
        color: white ;
        border-radius: .5em ;
        background-color: #26a69a ;
        cursor: pointer;
        border: none ;
        font-size: 1.5em ;
        &:focus{outline: none ;}
    }
}
.modal.show{display: flex ;}
.elm{
    width: 200px ;
    height: 200px;
    background-color: red ;
}
#black{
    width: 100% ;
    height: 100%;
    position: fixed ;
    top: 0 ;
    right: 0 ;
    background-color: rgba(30,30,30,.7) ;
    z-index: 5;
    display: none ;
}
#black.show{display: block ;}