#navbar{
    width: 100% ;
    height: auto;
    padding: 2em 0 ;
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: center ;
    flex-wrap: nowrap ;
    background-color: rgba(40,40,40,.85) ;
    position: fixed ;
    top: 0 ;
    right: 0 ;
    z-index: 5;
}
#navbar > *:not(#logo) {
    width: auto ;
    height: auto;
    margin: 0 2em ;
}
#navbar a , #navbar #places p , #navbar #places .fas{
    color: rgb(190,190,190) ;
    font-size: 1.5em ;
    transition: all .5s ease-in-out; 
    cursor: pointer ;
}
#navbar #places div:nth-child(1):hover p ,
#navbar #places div:nth-child(1):hover i,
#navbar a:hover{
    color: white ;
}
#navbar #places{
    position: relative ;
}
#places .fas{
    width: 100% ;
    height: 1em;
    position: absolute ;
    top: 100% ;
    text-align: center ;
}
#places #drop-down{
    width: 100% ;
    height: auto;
    position: absolute ;
    top: 100%;
    right: 0% ;
    // display: flex ; 
    flex-direction: column ;
    justify-content: space-around ;
    align-items: center ;
    flex-wrap: nowrap ;
    transition: all .6s ease-in-out;
    display: none ;
    background-color: rgb(40,40,40) ;
    color: rgb(190,190,190) ;
}
#places:hover #drop-down{display: flex ;}
#places #drop-down a {
    margin: .5em 0 ;
}
#navbar #logo{
    width: 4em ;
    height: 4em;
    position: absolute ;
    left: 2em;
    top: 50% ;
    transform: translateY(-50%) ;
    background: url('../assets/imgs/logo.png') center center no-repeat ;
    background-size: 100% 100% ;
}