#rooms{
    width: 80% ;
    height: auto;
    margin-top: 4em ;
    position: relative ;
    right: 50% ;
    transform: translateX(50%) ;
    display: flex ;
    flex-direction: column ;
    justify-content: flex-start ;
    align-items: center ;
    flex-wrap: nowrap ;
}
#rooms .room {
    width: 100% ;
    height: auto;
    border: 2px solid rgba(200,200,200,1);
    margin: 2em 0 ;
    display: grid ;
    grid-template-columns: repeat(6,1fr) ;
    grid-auto-rows: minmax(0,auto) ;
    grid-template-areas:  
        "info info price price reserve reserve"
        "features features features features features features"
        "calender-show calender-show calender-show calender-show calender-show calender-show"
        "calender calender calender calender calender calender"; 
}
#rooms .room .info{grid-area: info ;}
#rooms .room .price{grid-area: price ;}
#rooms .room .reserve{grid-area: reserve ;}
#rooms .room .features{grid-area: features ;}
#rooms .room .calender-show{grid-area: calender-show ;}
#rooms .room .room-calender{grid-area: calender ; }
#rooms .room .info , #rooms .room .price , #rooms .room .reserve{
    display: flex;
    flex-direction: column ;
    justify-content: space-around ;
    align-items: center ;
    flex-wrap: nowrap ;
    color: rgb(40,40,40) ;
    font-size: 1em ;
    border-bottom: 1px solid rgb(200,200,200) ;
}
#rooms .room > *{padding: 1em ;}
#rooms .room .info > * , #rooms .room .price > * , #rooms .room .reserve > *{
    margin: .5em 0 ;
}
.room .guests{
    display: flex ;
    flex-direction: column;
    justify-content: space-around ;
    align-items: center ;
    flex-wrap: nowrap ;
    text-align: center ;
}
.room .info , .room .price{
    border-left: 1px solid rgb(200,200,200) ;
}
.room .price .discount{
    padding: .5em 1em;
    color: white ;
    background-color: #cf405d ;
    border-radius: 1.5em ;
    text-align: center ;
    font-family: byekan ;
}
.room .price .before-discount p{display: inline-block ;}
.room .price  .before-discount p{font-size: 1em}
.room .price .discount ~ .before-discount p{font-size: .8em}
.room .price .discount ~ .before-discount p:nth-child(1){
    position: relative;
}
.room .price .discount ~ .before-discount p:nth-child(1)::before{
    content: '';
    width: 100% ;
    height: 2px;
    position: absolute ;
    right: 0 ;
    top: 50% ;
    transform: translateY(-50%);
    background-color: teal ;
}

.room .reserve .room-num{
    width: 60% ;
    display: flex ;
    flex-direction: row ;
    justify-content: space-around ;
    align-items: center ;
    flex-wrap: nowrap ;
}
.room .reserve .room-num button{
    width: 2em ;
    height: 2em;
    border-radius: 50% ;
    border: none ;
    cursor: pointer;
    position: relative;
}
.room .reserve .room-num button span{
    position: absolute ;
    top: 50% ;
    right: 50%;
    transform: translate(50%,-40%) ;
    font-size: 1.5em ;
    width: auto ;
    height: auto ;
}
.room .reserve input[type="number"]{
    width: 2em ;
    height: 2em;
    text-align: center; 
    border: none ;
    position: relative ;
    top: calc(50% - 1em) ;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
.room .reserve > button {
    width: 50% ;
    height: auto;
    font-family: byekan ;
    font-size: 1.5em ;
    border-radius: 1.5em ;
}
.room .features{
    color: rgb(40,40,40) ;
    border-bottom: 1px solid rgb(200,200,200) ;
}
.room .features p {
    display: inline-block ;
    font-size: 2em ;
}
.room .features .features-wrapper{
    width: auto ;
    height: auto;
    display: inline-flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: center ;
    flex-wrap: wrap ;
    align-content: center ;
    margin-right: 2em ;
}
.room .features-wrapper > * {
    margin: 1em;
    cursor: pointer;
}
.room .calender-show{
    text-align: center ;
}
.room .calender-show button{
    font-family: 1.5em ;
    border-radius: 1.5em ;
    font-family: byekan ;
    padding: 1em 2em ;
    border: none ;   
    cursor: pointer;
}
.room .calender-show button i {
    transform: translateY(20%) ;
}
.room .room-calender{
    width: 100% ;
    height: auto;
    display: none ;
    grid-template-columns: repeat(auto-fit,minmax(7em,1fr)) ;
    grid-auto-rows: 7em ;
    grid-gap: .5em ;
}
.show-calender-grid{display: grid !important;}
.room .room-calender .date{
    display: flex; 
    flex-direction: column ;
    justify-content: space-around ;
    align-items: center ;
    flex-wrap: nowrap ;
    font-size: .9em ;
    color: white ;
}
.room .room-calender .date{
    background-color: #55bd8a  ;
}
.room .room-calender .date.full{
    background-color: #eb5754  ;
}
.room .room-calender .date .price{
    color: white !important ;
    border:none !important;
    font-size: .9em !important;
}
.room .room-calender .date.discount .price{
    position: relative;
}
.room .room-calender .date.discount .price::before{
    content: '' ;
    width: 100% ;
    height: 2px;
    position: absolute;
    right: 0 ;
    top: 50% ;
    transform: translateY(-50%) ;
    background-color: white ;
}