@import './variables.scss' ;
#services{
    width: 100% ;
    height: auto;
    position: relative ;
    padding: 0 2em ;
    overflow: hidden; 
    margin-top: 8em ;
}
#services p:nth-child(1){
    font-size: 2em ;
    font-weight: 700 ;
    color: rgb(40,40,40) ;
}
#services span{
    display: inline-block ;
    width: 20em ;
    margin-top: 2em ;
    background-color: rgba(128, 128, 128, 0.438)  ;
    height: 1px ;   
}
#flex-services {
    width: 100% ;
    height: auto;
    display: flex ;
    flex-direction: row ;
    justify-content: space-evenly ;
    align-items: center ;
    flex-wrap: wrap ;
    align-content: center ;
    padding: 2em ;
    margin-top: 0 ;
}
#flex-services > a {
    display: inline-block ;
    width: 10em ;
    height: 10em;
    display: flex ;
    flex-direction: column ;
    justify-content: space-evenly ;
    align-items: center ;
    flex-wrap: nowrap ;
    background-color: white ;
    box-shadow: 0 0 .5em .01em rgba(50,50,50,.2) ;
    cursor: pointer ;
    transition: all .6s ease-in-out ;
    text-decoration: none ;
    margin: 1em ;
}
#services .fas{
    color: #fb636f ;
    font-size: 2.5em ;
    transition: all .6s ease-in-out ;
}
#services p {
    color: #fb636f ;
    font-size: 1em ;
    transition: all .6s ease-in-out ;
}
#flex-services > a:hover {
    background-color: #fb636f;
}
#flex-services > a:hover i{color: white ;}
#flex-services > a:hover p{color: white ;}
@media screen and (max-width: 1200px){
    #services{font-size: 16px;}
}
@media screen and (max-width: 650px){
    #services{font-size: 12px;}
}