#services{
    width: 100% ;
    height: auto;
    position: relative ;
    overflow: hidden;
    margin-top: 4em ;
    padding: 1em 0 ;
}
#services h4{
    width: auto ;
    font-size: 2em ;
    font-weight: 700 ;
    color: rgb(40,40,40) ;
    margin: 0 1em 0 0 ;
    border-bottom: .8px solid #80808070 ;
    padding-bottom: 1em ;
}
#services form{
    width: 100% ;
    // height: 20em ;
    // height will set inside js
    overflow: hidden;
    display: grid ;
    grid-template-columns: repeat(8,1fr) ;
    // grid-auto-rows : will set via js to always have same width/height ;
    // grid-auto-rows: 8em ;
    grid-gap: 1em ;
    padding: 0 2em ;
    margin-top: 2em ;
    padding: 1em;
    transition: all .6s ease-in-out ;
}
#services label{
    display: flex ;
    flex-direction: column ;
    justify-content: space-around ;
    align-items: center ;
    flex-wrap: nowrap ;
    transition: all .4s ease-in-out ;
    background-color: white ;
    border-radius: 1.5em ;
    box-shadow: 0 0 .5em 0.01em rgba(50,50,50,.3) ;
    cursor: pointer;
}
#services label > *{
    flex-shrink: 0 ;
}
#services label input[type="checkbox"]{
    width: 0 ;
    height: 0;
}
#services label i , #services label p{
    color: #fb636f  ;
    font-size: 2em ;
    transition: all .4s ease-in-out ;
}
// #services label:hover{background-color: #fb636f ; }
// #services label:hover i , #services label:hover p{color: white ;}
#services label.red-bg{background-color: #fb636f;}
#services label i.white-text{color: white;} 
#services label p.white-text{color: white;}
#services > p {
    width: auto ;
    height: auto;
    margin-right: 2em ;
    cursor: pointer ;
}
#services > p i {
    transform: translate(-50%,15%) ;
}
#services input[type="submit"]{
    position: relative;
    right: 50% ;
    transform: translateX(50%) ;
    margin-top: 1em ;
    font-family: byekan ;
    font-size: 1.2em ;
    border:none ;
    cursor: pointer;
    padding: 1em 2em ;
    border-radius: 2em ;
}
@media screen and (min-width:2500px){
    #services{font-size: 25px ;} 
}
@media screen and (max-width:1300px){
    #services{font-size: 17px;}
    #services input[type="submit"]{font-size: 20px;}
    #services > p {font-size: 20px;}
    #services form{grid-template-columns: repeat(6,1fr);}   
}
@media screen and (max-width:850px){
    #services{font-size: 14px;}
    #services input[type="submit"]{font-size: 20px;}
    #services > p {font-size: 20px;}
    #services form{grid-template-columns: repeat(4,1fr);} 
}
@media screen and (max-width:550px){
    #services{font-size: 11px;}
    #services input[type="submit"]{font-size: 20px;}
    #services > p {font-size: 20px;}
    #services form{grid-template-columns: repeat(2,1fr);}
}