@import './variables.scss' ;
#services{
    width: 100% ;
    height: auto;
    position: relative ;
    padding: 3em 0em ;
    overflow: hidden; 
    margin-top: $sectionsDist ;
}
#services h2{
    color: rgb(30,30,30) ;
    position: absolute ;
    right: 10%;
    top: 0 ;
}
#services span{
    display: inline-block ;
    width: 20em ;
    position: absolute ;
    right: 10% ;
    top: 20% ;
    background-color: rgba(128, 128, 128, 0.438)  ;
    height: 1px ;   
}
#flex-services {
    width: 100% ;
    height: auto;
    display: flex ;
    flex-direction: row ;
    justify-content: space-evenly ;
    align-items: center ;
    flex-wrap: wrap ;
    align-content: space-around ;
    padding: 1em ;
    position: relative ;
    top: 2em  ;
}
#flex-services > a {
    display: inline-block ;
    width: 10em ;
    height: 10em;
    display: flex ;
    flex-direction: column ;
    justify-content: space-around ;
    align-items: center ;
    flex-wrap: nowrap ;
    background-color: white ;
    box-shadow: 0 0 .5em .01em rgba(50,50,50,.2) ;
    cursor: pointer ;
    transition: all .6s ease-in-out ;
    text-decoration: none ;
}
#services .fas{
    color: #fb636f ;
    font-size: 2.5em ;
    transition: all .6s ease-in-out ;
}
#services p {
    color: #fb636f ;
    font-size: 1em ;
    transition: all .6s ease-in-out ;
}
#flex-services > a:hover {
    background-color: #fb636f;
}
#flex-services > a:hover i{color: white ;}
#flex-services > a:hover p{color: white ;}