#slider{
    width: 100% ;
    height: auto;
    display: flex ;
    flex-direction: column ;
    justify-content: flex-start ;
    align-items: center ;
    flex-wrap: nowrap ;
    #slides{
        width: 100% ;
        height: 40em;
        position: relative ;
        &::after{
            content: '' ;
            position: absolute ;
            top: 0 ;
            right: 0;
            width: 100% ;
            height: 100%;
            background-color: rgb(40,40,40,.6) ;
        }
        .slide{
            width: 100% ;
            height: 100%;
            position: absolute ;
            top: 0 ;
            right: 0 ;
            transition: opacity .5s ease-in-out ;
            opacity: 0;
            img{
                width: 100% ;
                height: 100%;
                background-repeat: no-repeat ;
                background-position: center center ;
                background-size: 100% 100% ;
            }
            p{
                width: 100% ;
                height: auto;
                font-weight: 700 ;
                color: white ;
                text-align: center ;
                position: absolute ;
                right: 0 ;
                bottom: .5em ;
                font-size: 2.5em ;
                overflow-wrap: nowrap ; 
                z-index: 1;
            }
        }
        .slide.show{opacity: 1;}
    }
    #dots{
        width: auto ;
        height: auto ;
        margin-top: 1em ;
        display: flex ;
        flex-direction: row ;
        justify-content: flex-start ;
        align-items: center ;
        flex-wrap: wrap ;
        .dot{
            width: 2em ;
            height: 2em;
            border-radius: 50% ;
            background-color: rgb(230,230,230) ;
            transition: all .3s ease-in-out ;
            transform: scale(1) ;
            margin: 1em ;
            cursor: pointer;
        }
        .dot.active{
            transform: scale(1.3) ;
            background-color: rgb(24, 228, 160) ;
        }
    }
}
@media screen and (max-width:1000px){
    #slider{font-size: 16px ;}
}
@media screen and (max-width:500px){
    #slider{font-size: 12px ;}
}
@media screen and (max-width:380px){
    #slider{height: 75vh;}
    #slider #slides .slide p{font-size: 1.8em ;}
}
@media screen and (max-width:290px){
    #slider{height: 100vh;}
}