.tooltip{
    position: relative;
    cursor: pointer;
    .tooltip-content{   
        min-width: 4em ;
        height: auto;
        padding: .5em 0 ;
        text-align: center ;
        line-height: 2em ;
        color: white ;
        background-color: rgb(30,30,30) ;
        z-index: 10;
        border: 1px solid white ;
        position: absolute ;
        right: 50% ;
        bottom: 100% ;
        transform: translateX(50%) ;
        font-weight: lighter ;
        white-space: nowrap ;
    }
    .tooltip-content.show{display: block ;}
    .tooltip-content.hide{display: none ;}
}

