#comments{
    width: 100% ;
    height: auto;
    display: flex ;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: center  ;
    flex-wrap: nowrap ;
}
#comments .comment:not(:first-child){margin-top: 2em ;}
#comments .comment{
    width: 100% ;
    height: auto;
    padding: .5em ;
    border: 2px solid rgb(230,230,230) ;
    display: flex ;
    flex-direction: row ;
    justify-content: space-around ;
    align-items: center ;
    flex-wrap: wrap ;
    align-content: center ;
}
#comments .comment > * {
    margin: .5em 0 ;
}
// .comment > *{border: 1px solid blue ;}
// .comment .info{width: 7em ; font-size: .8em ;}
// .comment .content{width: 30em ; font-size: .8em ;}
// .comment .scores{width: 18em ; font-size: .8em ;}
// .comment .images{font-size: 1em ;}
.comment .info{
    width: 6em ;
    height: auto;
    display: flex ;
    flex-direction: column ;
    justify-content: flex-start ;
    align-items: center ;
    flex-wrap: nowrap ;
}
.comment .info > *{
    margin: .5em 0 ;
}
.info img{
    width: 6em ;
    height: 6em;
    border-radius: 50% ;
    background-position: center center ;
    background-size: 100% 100% ;
}
.info .name , .info .date{
    width: auto  ;
    height: auto;
    color: rgb(130, 130, 130) ;
    font-size: .6em ;
}
.comment .content{
    width: 40em ;
    line-height: 2em ;
    font-size: .7em ;
    padding: 1em ;
    color: rgb(40,40,40) ;
    // border: 1px solid rgba(0, 128, 128, 0.753) ;
    background-color: rgba(23, 197, 197, 0.13) ;
    border-radius: 1.5em ;
}
.comment .scores{
    width: 15em ;
    height: auto;
    display: flex ;
    flex-direction: row ;
    justify-content: space-around ;
    align-items: center ;
    flex-wrap: wrap ;
    align-content: flex-start ;
}
.scores .score{
    width: auto ;
    text-align: center ;
    height: auto;
    color: rgb(40,40,40) ;
    margin: .6em ;
    text-align: center ;
    font-size: .6em ;
}
.score > * {
    display: inline-block ;
}
.score .polygon{
    width: 2.5em ;
    height: 2.5em ;
    border-radius: 50% ;
    text-align: center ;
    line-height: 3em ;
    color: white ;
    background-color: teal ;
}
@media screen and (max-width:1300px){
    .comment .scores{width: auto ;}
}
@media screen and (max-width:950px){
    #comments .comment{font-size: 15px;}
}
@media screen and (max-width:720px){
    #comments .comment > * {
        margin: 0em 0 ;
    }
}
@media screen and (max-width:580px){
    .comment .scores{     
        justify-content: flex-start ;
    }
    .comment .score{     
        // min-width: 100% ;
        // text-align: center ;
    }
}
@media screen and (max-width:345px){
    .comment .scores{     
        justify-content: space-around ;
    }
    .comment .score{     
        // min-width: 100% ;
        // text-align: center ;
    }
}
@media screen and (max-width:300px){
    #comments .comment{font-size: 12px; border: .8px solid rgb(230,230,230);}
}