#rooms{
    width: 90% ;
    height: auto;
    margin-top: 4em ;
    position: relative ;
    right: 50% ;
    transform: translateX(50%) ;
    display: flex ;
    flex-direction: column ;
    justify-content: flex-start ;
    align-items: center ;
    flex-wrap: nowrap ;
}
#rooms .room {
    width: 100% ;
    height: auto;
    border: 2px solid rgba(200,200,200,1);
    margin: 2em 0 ;
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: start ;
    flex-wrap: wrap ;
    align-content: flex-start ;
}
#rooms .room .info{width: 33.3% ; height: 10em; }
#rooms .room .price{width: 33.3% ; height: 10em;}
#rooms .room .reserve{width: 33.3% ; height: 10em;}
#rooms .room .features{width: 100% ; height: auto;;}
#rooms .room .calender-show{width: 100% ; height: auto;}
#rooms .room .room-calender{width: 100% ; height: auto ;}
#rooms .room .info , #rooms .room .price , #rooms .room .reserve{
    display: flex;
    flex-direction: column ;
    justify-content: space-around ;
    align-items: center ;
    flex-wrap: nowrap ;
    color: rgb(40,40,40) ;
    font-size: .8em ;
    border-bottom: 1px solid rgb(200,200,200) ;
}
#rooms .room > *{padding: 1em ;}
#rooms .room .info > * , #rooms .room .price > *{
    margin: .5em 0 ;
    width: auto ;
    height: auto;
    overflow-wrap: break-word ;
    text-align: center ;
}
.room .guests{
    display: flex ;
    flex-direction: column;
    justify-content: space-around ;
    align-items: center ;
    flex-wrap: nowrap ;
    text-align: center ;
}
.room .info , .room .price{
    border-left: 1px solid rgb(200,200,200) ;
}
.room .price .discount{
    padding: .5em 1em;
    color: white ;
    background-color: #cf405d ;
    border-radius: 1.5em ;
    text-align: center ;
    font-family: byekan ;
}
.room .price .before-discount p{display: inline-block ;}
.room .price  .before-discount p{font-size: .8em}
.room .price .discount ~ .before-discount p{font-size: .8em}
.room .price .discount ~ .before-discount p:nth-child(1){
    position: relative;
}
.room .price .discount ~ .before-discount p:nth-child(1)::before{
    content: '';
    width: 100% ;
    height: 2px;
    position: absolute ;
    right: 0 ;
    top: 50% ;
    transform: translateY(-50%);
    background-color: teal ;
}

.room .reserve .room-num{
    width: 50% ;
    display: flex ;
    flex-direction: row ;
    justify-content: space-around ;
    align-items: center ;
    flex-wrap: nowrap ;
}
.room .reserve .room-num > * {flex-shrink: 0 ;}
.room .reserve .room-num button{
    width: 2.5em ;
    height: 2.5em;
    border-radius: 50% ;
    border: none ;
    cursor: pointer;
    position: relative;
    background-color: #26a69a ;
    &:focus{outline: none ;}
}
.room .reserve .room-num button span{
    color: white ;
    position: absolute ;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-45%) ;
    font-size: 1.5em ;
    width: auto ;
    height: auto ;
}
.room .reserve input[type="number"]{
    width: 2em ;
    height: 2em;
    text-align: center; 
    border: none ;
    position: relative ;
    top: calc(50% - 1em) ;
    font-size: 1em ;
    color: rgb(40,40,40) ;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
input[type=number] {
    -moz-appearance:textfield;
}
.room .reserve > button {
    width: auto ;
    height: auto;
    font-family: byekan ;
    font-size: 1.3em ;
    border-radius: 1.5em ;
    padding: .5em 3em;
    color: white ;
    border: none ;
    background-color: #26a69a ;
    cursor: pointer; 
    &:focus{outline: none ;}
}
.room .features{
    color: rgb(40,40,40) ;
    border-bottom: 1px solid rgb(200,200,200) ;
}
.room .features p {
    display: inline-block ;
    font-size: 1.2em ;
    font-weight: 600 ;
}
.room .features .features-wrapper{
    width: auto ;
    height: auto;
    display: inline-flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: center ;
    flex-wrap: wrap ;
    align-content: center ;
    margin-right: 2em ;
    i{font-size: .8em ; color: rgb(40,40,40) ;}
}
.room .features-wrapper > * {
    margin: 1em;
    cursor: pointer;
}
.room .calender-show{
    text-align: center ;
}
.room .calender-show button{
    font-size: .8em ;
    border-radius: 1.8em ;
    font-family: byekan ;
    padding: 1em 2em ;
    border: none ;   
    cursor: pointer;
    color: white ;
    background-color: rgb(47, 125, 221) ;
    &:focus{outline: none ;}
}
.room .calender-show button i {
    transform: translateY(20%) ;
}
.room .room-calender{
    width: 100% ;
    height: auto;
    display: none ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: center ;
    flex-wrap: wrap ;
    align-content: center ;
}
.show-calender-grid{display: flex !important;}
.room .room-calender .date{
    width: 8em ;
    height: 8em ;
    margin: .5em ;
    display: flex; 
    flex-direction: column ;
    justify-content: space-around ;
    align-items: center ;
    flex-wrap: nowrap ;
    color: white ;
    p{
        width: auto ;
        height: auto;
        text-align: center ;
    }
    
}
.room .room-calender .date{
    background-color: #55bd8a  ;
}
.room .room-calender .date.full{
    background-color: #eb5754  ;
}
.room .room-calender .date .my-price{
}
.room .room-calender .date.discount .my-price{
    position: relative;
}
.room .room-calender .date.discount .my-price::before{
    content: '' ;
    width: 100% ;
    height: 2px;
    position: absolute;
    right: 0 ;
    top: 50% ;
    transform: translateY(-50%) ;
    background-color: white ;
}
@media screen and (max-width:900px){
    #rooms{font-size: 15px ;}
}
@media screen and (max-width:600px){
    #rooms .room .info{width: 100% ; height: auto; }
    #rooms .room .price{width: 50% ; height: 10em;}
    #rooms .room .reserve{width: 50% ; height: 10em;}
}
@media screen and (max-width:500px){
    .room .room-calender{     
        justify-content: space-around ;  
    }
}
@media screen and (max-width:400px){
    #rooms .room .info{width: 100% ; height: auto; }
    #rooms .room .price{width: 100% ; height: auto;}
    #rooms .room .reserve{width: 100% ; height: auto;}
    .room .reserve > button{margin-top: 1em ;}

}
// @media screen and (max-width:365px){
//     .room .room-calender{     
//         justify-content: space-around ;     
//     }
// }
@media screen and (max-width:285px){  
    #rooms{font-size: 12px;}
}
@media screen and (max-width:220px){  
    .room .reserve .room-num button{width: 2em ; height: 2em;}
}