#tabs{
    width: 90% ;
    height: auto;
    position: relative ;
    right: 50% ;
    transform: translateX(50%) ;
    border: 1px solid rgb(170,170,170) ;
    margin-top: 4em ;
    .arrows{
        visibility: hidden;
        width: auto ;
        height: auto;
        position: absolute ;
        left: 0em;
        top: 0em ;
        transform: translateY(-100%) ;
        display: flex ;
        flex-direction: row ;
        justify-content: flex-start ;
        align-items: center ;
        flex-wrap: nowrap ;
        .fas{     
            font-size: 1.2em ;
            color: #26a69a ;
            margin: 0 .1em ;
            opacity: 1;         
        }
    }
    ul{
        width: 100% ;
        height: auto ;
        position: relative ;
        top: 0 ;
        right: 0 ;
        list-style: none ;
        display: flex ;
        flex-direction: row ;
        justify-content: space-around ;
        align-items: center ;
        flex-wrap: nowrap ;
        // overflow: hidden;
        li{
            width: 33.3% ;
            height: 4em;
            line-height: 3em ;
            padding: .5em ;
            font-size: .8em ;
            color: #26a69a ; 
            text-align: center ;
            cursor: pointer;
            background-color: white ;
            transition: all .4s ease-in-out ;
            position: relative;
            &:hover{
                background-color: rgb(245,245,245) ;
            }
            &::before{
                content: '' ;
                width: 0% ;
                height: 2px;
                background-color: #26a69a ;
                position: absolute ;
                right: 0 ;
                bottom: 0 ;
                transition: all .4s ease-in-out ;
            }
            // &:hover::before{
            //     width: 100% ;
            // }
        }
        li.active{
            background-color: rgb(245,245,245) ;    
            &::before{
                width: 100% ;
            }
        }
    }
    #content{
        width: 100% ;
        height: auto;
        position: relative;
        #about,#map-dist,#comments{
            width: 100% ;
            height: auto;
            display: none ;
            padding: 1em ;
            opacity: 0;
            transition: all .3s ease-in-out ;
        }
        #about.show,#map-dist.show,#comments.show{opacity: 1;}
        #about p {
            font-size: .8em ;
            font-weight: lighter ;
            line-height: 3em ;
            overflow-wrap: nowrap ;
            color: rgb(50,50,50) ;
        }
        #map-dist{
            #map{
                width: 100% ;
                height: 20em;
                background: url('../../assets/imgs/map.jpg') center center no-repeat ;
                background-size: 100% 100% ;
            }
            #dist{
                width: 100% ;
                height: auto ;
                margin-top: 1em ;
                display: flex ;
                flex-direction: row ;
                justify-content: flex-start ;
                align-items: center ;
                flex-wrap: wrap ;
                align-content: flex-start ;
                .place{
                    width: auto ;
                    height: auto;
                    margin: 1em ;
                    display: flex ;
                    flex-direction: row ;
                    justify-content: flex-start ;
                    align-items: center ;
                    flex-wrap: wrap ;
                    align-content: flex-start ;
                    i,h6,p{margin: .1em ;}
                    i{
                        font-size: .6em ;
                        color: #26a69a ;
                    }
                    h6{
                        font-size: .8em ;
                        color: #26a69a ;
                        font-weight: normal ;
                    }
                    p {
                        font-size: .8em ;
                        color: rgb(50,50,50) ;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:780px){
    #tabs ul{font-size: 16px ;}
    #tabs #content{font-size: 16px ;}
}
@media screen and (max-width:605px){
    // #tabs ul{font-size: 12px ;}
    #tabs ul{
        overflow-x: auto ;
        overflow-y: hidden ;
        justify-content: flex-start ;
    }
    #tabs ul li {
        width: 50% ;
        flex-shrink: 0 ;
    }  
    #tabs .arrows{visibility: visible ;}
}
@media screen and (max-width: 560px){
    #tabs #content #map-dist #dist{justify-content: space-around ;}
}
@media screen and (max-width:440px){
    #tabs ul{font-size: 12px ;}
    #tabs #content{font-size: 12px ;}
}
@media screen and (max-width:320px){
    #tabs ul li {
        width: 75% ;
    }  
    #tabs #content #map-dist #map{height: 15em;}
}
@media screen and (max-width:240px){
}
@media screen and (max-width:230px){
    #tabs #content #map-dist #dist{font-size: 9px ;}
}
@media screen and (max-width:220px){
    #tabs ul li {
        width: 80vw ;
    }  
    
}